body, html
{
    height: 100%;
}
body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
::selection {
    background: #33CD5F;
}
.main-container {
    margin: 0;
    padding: 40px;
    max-width: 400px;
    min-height: 750px;
    height: 100%;
    float: left;
    position: relative;
}
.black-bg {
    margin-left: 401px;
    height: auto;
    min-height: 750px;
    background-color: #C9C7DB;
    background-image: url("images/walpaper.jpg");
}
.img-container {
    height: inherit;
    background-size: cover;
    background-position: center;
    background-image: url("images/walpaper.jpg");
    background-color: black;
}
.header h1 {
    font-weight: 100;
    font-size: 300%;
    letter-spacing: 1px;
    margin-top: 0;
}
.main-image, .header {
    text-align: center;
    margin-bottom: 20px;
}
.main-image img {
        background-repeat: no-repeat;
        background-position: 90%;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
.content {
    font-weight: 300;
    color: #333;
    font-size: 115%;
    letter-spacing: 0.5px;
}

.content p {
    margin-bottom: 20px;
}

.social-icons {
    margin: 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 0 40px 40px 40px;

}

 .social-icons a {
    display: inline-block;
    font-size: 200%;
    text-decoration: none;
    padding: 0;
}

a, a .icon:before {
    color: #2db855 !important;
}

a:hover, a:hover .icon:before {
    color: #33CD5F !important;
    text-decoration: none !important;
}

a::selection {
    color: #ffffff;
}

@keyframes fadeIn {
    from {
      opacity: 0;
}

    to {
      opacity: 1;
  }
}

@-moz-keyframes fadeIn {
    from {
      opacity: 0;
}

    to {
      opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
}

    to {
      opacity: 1;
  }
}

.fade-in {
    opacity: 0;
    opacity: 1 \9;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.delay-one {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.delay-two {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
}

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
 }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
}

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
}

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
  }
}

.fade-in-down {
    opacity: 0;
    opacity: 1 \9;
    -webkit-animation: fadeInDown ease-in 1;
    -moz-animation: fadeInDown ease-in 1;
    animation: fadeInDown ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Varela+Round);

html, body {
    margin: 0;
    padding: 0;
}


.toggle {
    text-decoration: none;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.61);
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.45s ease-out 0;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: -190px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 11rem;
    padding: 1.5em;
    background: white;
}

    .sidebar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }

    .sidebar li a {
        color: #fff;
        font-family: 'Poiret One', cursive;
        font-size: 1.2em;
        margin: 0;
        margin-bottom: 16px;
        cursor: pointer;
        text-decoration: none;
        line-height: 200%;
    }

    .sidebar a:hover {
        color: rgba(0, 0, 0, 0.61);
    }

#slide:checked + .container .sidebar {
    right: 0px;
}

#slide:checked + .container .toggle {
    right: 40px;
}


#slide {
    display: flex;
}
